body {
    background-color: rgb(14, 14, 14);
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    transform: translateY(25%);
}

.title {
    font-size: 40px;
}

.gamefiel {
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-rows: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    max-width: 300px;
    border: 1px black solid;
}

.tile {
    border: 1px black solid;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-color: rgb(66, 66, 66);
}

.tile:hover {
    background-color: rgba(66, 66, 66, 0.5);
}

.playerX {
    color: hsl(145, 100%, 70%);
}

.playerO {
    color: hsl(0, 100%, 60%);
}

#drawText {
    display: none;
    color: hsl(60, 100%, 70%);
}

#winText {
    display: none;
}

.btn {
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 23px;
    margin: 15px 10px;
    margin-top: 20px;
    padding: 5px 10px;
    cursor: pointer;
}